/*
Archivo CSS de las clases que modelan el curriculum
*/

.cv-intro {
    text-align: center;
    /*Colocar imagen de fondo*/
    background-image: url(./../img/bg-bits-blue-transparent.png);
    background-size: 100%;
    height: 20em;
    /*Flexbox para hacer que todos los elementos se distribuyan en el espacio disponible*/
    display: flex;
    flex-direction: column;
}

.cv-intro>* {
    /*Factores de crecimiento de los elementos dentro de flex para que ocupen el espacio disponible*/
    flex: 1 1 auto;
}

/*Más grande el nombre*/
.cv-intro>.cv-intro-name {
    font-size: 3em;
}

/*Estilo para etiqueta de abierto a empleo*/
.cv-open-to-work {
    padding: 0.5em;
    border: 2px solid darkblue;
    background-color: darkblue;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
}

/*Sección de habilidades*/
.cv-skills {
    display: flex;
}

/*Cada detalle de habilidades*/
.cv-skills-detail {
    margin: 0px 10px;
    text-align: justify;
    width: 100%;
}

.cv-current-job {
    text-align: center;
    margin: auto
}

/*Esta clase aplica a los contenedores del historial de trabajo y de formación académica.
Es un contenedor flexible con flex-wrap. Sus hijos, .cv-card-info, segun la clase de tamaño que tomen
se colocaran de una manera u otra.
Con card-50: siempre se mostrarán dos por fila, así que si hay i.e. 5-6 trabajos se mostrarán
3 filas
Con card-100: uno por fila*/
.cv-card-info-history {
    display: flex;
    flex-wrap: wrap;
}

.cv-card-info-history>.cv-card-info {
    padding: 0px 1em;
    display: flex;
}

.card-50 {
    width: 50%;
}

.card-100 {
    width: 100%;
}

/*El icono de las tarjetas se usa de bootstrap-icons, pero se aumenta el tamaño de los mismos mediante
un aumento del tamaño de letra solo para ellos*/
.cv-card-info>.card-icon {
    padding: 0px 5px;
    font-size: xx-large;
}

/*Estilos del contenedor de los iconos, para que aparezca redondeado y con el icono centrado*/
.card-icon>span {
    display: inline-block;
    color: var(--blue-light);
    background-color: var(--blue-x-light);
    border: 2px solid var(--blue-light);
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    height: 1.5em;
    width: 1.5em;
}

.cv-training-title-section {
    width: 100%;
    text-align: center;
}

.cv-training-year {
    display: inline-block;
    color: var(--blue-light);
}

.cv-training-title {
    font-style: italic;
}

.cv-training-institution {
    font-size: 0.9em;
    font-weight: 300;
    text-transform: uppercase;
}

.cv-social-media {
    display: flex;
}

.cv-social-media>* {
    width: 100%;
}

/*Estilos del espacio donde poder incluir un video*/
.cv-video {
    height: 15em;
    width: 50em;
    /*Si se inserta video, se debería eliminar padding*/
    padding: 3em;
    margin-left: 0.5em;
    border: 2px solid var(--blue-light);
    border-radius: 8px;
    /*Centra el interior*/
    text-align: center;
}

/*Esta clase aplica tanto a la imagen cuando no hay video como si lo hubiera. Seguir instrucciones en el HTML*/
.cv-video>img,
.cv-video>video,
.cv-video>iframe {
    /*Limita el tamaño al contenedor*/
    max-height: 100%;
    max-width: 100%;
}

/*Estilo de líneas horizontales que separan las secciones*/
hr {
    border-color: var(--blue-light);
    /*Extiende ligeramente las líneas fuera de la caja*/
    margin-left: -15px;
    margin-right: -15px;
}