/*
Archivo CSS de distribución general de la página
*/

/*Se definen colores en CSS variables. Se usa en la pseudoclase :root para que esten disponibles en todo el documento*/
:root {
    --blue-light: rgb(117, 159, 179);
    --blue-x-light: rgb(187, 220, 235);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}

/* Editar espaciados por defecto de los títulos*/
h1, h2, h3, h4, h5 {
    margin-bottom: 0.125em;
    margin-top: 0.5em;
}

/*Contenedor del cv. fija un ancho y establece margen automático para centrar la página en pantallas grandes.*/
.container {
    width: 1000px;
    margin: auto;
    
    padding: 0px 20px;
}

/*Para pantallas pequeñas, establece el ancho al 100% del viewport*/
@media (max-width: 1050px){
    .container {
        width: 100%;
        margin: auto;
    }
}


/*Estilos para los enlaces del cv. Se quita el subrayado, sólo cuando :hover. Al aplicar colores
se ignora el color de :link y :visited por defecto*/
a {
    text-decoration: none;
    color: var(--blue-light);
}

a:hover {
    text-decoration: underline;
    color: cornflowerblue;
}