body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*
Elemento con la clase colored-list aplica los estilos de color a sus elementos
li hijos mediante los combinadores.
- Elementos pares, tomarán todos color hotpink.

Pero jugando con la especificidad del css, en este caso, por el orden de aparición en
la declaración, sobrescriben los siguientes colores
- Elemento 1 y 3 --> Aplicarán color deepskyblue usando nth-child
- Elemento ultimo y penultimo --> Aplicarán color orange usando nth-child

Si se incrementa el número de items, todos los del centro se quedarán color hotpink.

NOTA: Los items deben estar en cantidad impar, pues sino el efecto de colores
queda superpuesto.
*/

.colored-list {
    list-style-type: none;
    /*Quita el padding/margin por defecto de las listas*/
    padding: 0;
    margin: 0;
}

.colored-list>li {
    /*Se dice en el ejercicio ancho de 16px, pero eso no permite que quede como en la imagen. Por eso se pone padding de 1em,
    esto es, 16px (porque el tamaño de fuente es 16px, así que la altura total queda 32px)*/
    padding: 1em;
}

/*li en posiciones impares, color de texto blanco*/
.colored-list>li:nth-child(odd){
    color: white;
    /*Aparentemente los items de los li impares están en negrita pero no los otros*/
    font-weight: bold; 
    /*Aplica a todos hotpink, que luego se sobrescribirá*/
    background-color: hotpink;
}

/*Selecciona los li empezando por el nº3, cada 2 elementos a la inversa, esto es, el 3 y el 1*/
.colored-list>li:nth-child(-2n + 3) {
    background-color: deepskyblue;
}

/*Selecciona los li empezando por el nº3, cada 2 elementos a la inversa, y empezando por el final, esto es, afecta al 7 y 9*/
.colored-list>li:nth-last-child(-2n + 3) {
    background-color: orange;
}

/*
Alternativa para colorear sólo el quinto elemento
.colored-list>li:nth-child(5) {
    background-color: hotpink;
}
*/
